@import "/src/assets/Styles/variable.scss";
.navbar{
  box-sizing: border-box;
  font-size: 16px;
  border: 1px solid #cecece;
  font-family: $appFontTitle;
}
*{
  color: #000;
  text-decoration: none;
}
.dis-flex{
  display: flex;
}
.dis-none2{
  display:none;
}
@media screen and (max-width: 1000px) {
  .navbar{
    padding: 20px 15px;
  }
  .img2{
    display: block;
    width: 24px;
    height: 100%;
  }
  .dis-flex{
    display: block;
  }
  .dis-none{
    display: none;
  }
  .dis-none2{
    display: block;
  }
}
