<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-white">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img
        src="https://cr.moj.gov.kh/assets/images/mojcr.png"
        alt="" width="100%" height="40px"
        class="img1"
      />
    </a>
    <a href="#">ប្រព័ន្ធព្រឹត្តិបត្រថ្កោលទោសឌីជីថល</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarScroll"
      aria-controls="navbarScroll"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarScroll">
      <ul
        class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll mx-auto"
        style="--bs-scroll-height: 100px"
      >
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item dis-flex">
          <mat-icon>notifications</mat-icon>
          <mat-icon> account_circle </mat-icon>
        </li>
      </ul>
    </div>
  </div>
</nav>
